* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 10px;
}
body {
    width: 620px;
    margin: auto;
}
h4 {
    margin-bottom: 10px;
}
h1 {
    font-size: 30px;
    margin-bottom: 15px;
}
h2 {
    font-size: 24px;
    margin-bottom: 15px;
}
ul {
    margin-bottom: 50px;
    font-size: 20px;
}
p {
    margin-bottom: 30px;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}
.photocredit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: right;
}
.storycredit {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
blockquote {
    border-left: solid grey 4px;
    padding-left: 20px;
    font-size: 18px;
    margin-bottom: 30px;
    margin-right: 30px;
}
ol {
    list-style-position: inside;
    font-size: 18px;
    margin-bottom: 30px;
}